@media screen and (min-width: 1024px) {
    .banner__titulo {
    font-size: 36px;
    
    }
    .baner {
        padding: 6em 0;
    }
    }

    .banner__pesquisa::placeholder {background-position: 12em;
        
        
        }
        .banner__pesquisa::placeholder {
            background-position: 7em;
            }

