@media screen and (min-width: 1728px) {
    .carrossel__container {
    display: flex;
    }
    }
    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;      } 

.carrossel__titulo {
color: var(--laranja);
background-color: var(- --branco);
text-align: center;
text-transform: uppercase;
font-size: 18px;
font-weight: 700;
padding: 1m 0 0,5em 0;
}
.swiper__slide img{
    width: 100%;
}
.swiper {
    width: 600px;
    height: 300px;
  }
.swiper-button-prev,.swiper-button-next {
    display: none;
}
.swiper-pagination {
    margin: 1em 0;  }

    .swiper {
    width: 50%;  }

    .descricao__titulo {
        font-size: 32px;      }

        .descricao__texto {
        font-size: 16px;    }
        
        .descricao {
            margin-right: 2em;
            
            }
            .card {
            width: 60%;
            margin-left: 3em;
            
            }